<ion-header>
  <ion-toolbar>
    <ion-title>Public Survey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page_wrapper">
    <div class="profile">
      <div class="img_holder">
        <img src="assets/images/unisx-icon.svg" alt="">
      </div>
      <div class="uname">{{name}}</div>
    </div>
    <!-- animate__delay-1s -->
    <div class="card  animate__animated animate__zoomIn">
      <div class="icon-exp" *ngIf="!createdCount || !approvedCount || !answeredPollCount "><img src="assets/images/oops.jpg" alt=""></div>
      <div class="txt1" *ngIf="!createdCount || !approvedCount || !answeredPollCount ">You haven't participated any surveys yet!</div>
      <app-charts *ngIf="createdCount || approvedCount || answeredPollCount "></app-charts>
    </div>
    <div class="survey_details">
      <div class="card animate__animated animate__slideInLeft">
        <div class="count">{{createdCount}}</div>
        <div class="title">Created Poll</div>
      </div>
      <div class="card animate__animated animate__slideInRight">
        <div class="count">{{answeredPollCount}}</div>
        <div class="title" style="color: #34912d;">Answered Poll</div>
      </div>
    </div>
    <div class="survey_details">
      <div class="card animate__animated animate__slideInLeft">
        <div class="count">{{approvedCount}}</div>
        <div class="title">approved Poll</div>
      </div>
      <div class="card animate__animated animate__slideInRight">
        <div class="count">{{totalPollCount}}</div>
        <div class="title" style="color: #34912d;">Live Poll</div>
      </div>
    </div>
    <div class="dual_button animate__animated animate__slideInUp">
      <ion-button class="outBtn" (click)="createSurvey()">Create a Poll</ion-button>
      <ion-button class="myBtnz" (click)="joinSurvey()">View Poll</ion-button>
    </div>
  </div>

</ion-content>
