<ion-header>
  <ion-toolbar>
    <ion-title class="appBar">Pending Polls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page_wrapper">
    <div class="user_list animate__animated animate__zoomIn">
      <div class="title">Question List</div>

      <div class="user_block">

        <div class="user_details">
          <div class="left">Lorem ipsum dolor sit amet consectetur?</div>
          <div class="right">
            <div class="usrname"><ion-icon name="person-circle-outline"></ion-icon> &nbsp; UserName Here</div>
            <div class="bbx approve">
              <ion-icon name="checkmark-outline"></ion-icon>
            </div>
            <div class="bbx reject">
              <ion-icon name="close-outline"></ion-icon>
            </div>
            <div class="bbx view">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
          </div>
        </div>

        <div class="user_details">
          <div class="left">Lorem ipsum dolor sit amet consectetur?</div>
          <div class="right">
            <div class="usrname"><ion-icon name="person-circle-outline"></ion-icon> &nbsp; UserName Here</div>
            <div class="bbx approve">
              <ion-icon name="checkmark-outline"></ion-icon>
            </div>
            <div class="bbx reject">
              <ion-icon name="close-outline"></ion-icon>
            </div>
            <div class="bbx view">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
          </div>
        </div>

        <div class="user_details">
          <div class="left">Lorem ipsum dolor sit amet consectetur?</div>
          <div class="right">
            <div class="usrname"><ion-icon name="person-circle-outline"></ion-icon> &nbsp; UserName Here</div>
            <div class="bbx approve">
              <ion-icon name="checkmark-outline"></ion-icon>
            </div>
            <div class="bbx reject">
              <ion-icon name="close-outline"></ion-icon>
            </div>
            <div class="bbx view">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
          </div>
        </div>

        <div class="user_details">
          <div class="left">Lorem ipsum dolor sit amet consectetur?</div>
          <div class="right">
            <div class="usrname"><ion-icon name="person-circle-outline"></ion-icon> &nbsp; UserName Here</div>
            <div class="bbx approve">
              <ion-icon name="checkmark-outline"></ion-icon>
            </div>
            <div class="bbx reject">
              <ion-icon name="close-outline"></ion-icon>
            </div>
            <div class="bbx view">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
          </div>
        </div>

        <div class="user_details">
          <div class="left">Lorem ipsum dolor sit amet consectetur?</div>
          <div class="right">
            <div class="usrname"><ion-icon name="person-circle-outline"></ion-icon> &nbsp; UserName Here</div>
            <div class="bbx approve">
              <ion-icon name="checkmark-outline"></ion-icon>
            </div>
            <div class="bbx reject">
              <ion-icon name="close-outline"></ion-icon>
            </div>
            <div class="bbx view">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
          </div>
        </div>

        <!-- <div class="vall">View all</div> -->


      </div>



    </div>
  </div>

</ion-content>
