<ion-header>
  <ion-toolbar>
    <ion-buttons class="icon_arrowback" slot="start" (click)="back()">
      <ion-icon style="color: #3880ff;" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="page_wrapper">

    <!-- <ion-item style="font-size: 14px;">
      <ion-label>Choose Category</ion-label>
      <ion-select interface="action-sheet" placeholder="Select Category" cancelText="Cancel Choice">
        <ion-select-option value="apples">Sports</ion-select-option>
        <ion-select-option value="oranges">Politics</ion-select-option>
        <ion-select-option value="bananas">General Knowledge</ion-select-option>
        <ion-select-option value="bananas">Others</ion-select-option>
      </ion-select>
    </ion-item> -->

    <div class="my_question animate__animated animate__zoomIn">
      <div class="question">
        <ion-label class="clabel">Question?</ion-label>
        <div class="qsn">{{question}}</div>
      </div>

      <div class="option_block">


        <ion-list class="ansBar">
          <ion-radio-group [allowEmptySelection]="true" value="turtles">
            <ion-item style="--per : 50%; ">
              <div class="percentz">50%</div>
              <ion-label>{{option1}}</ion-label>
              <ion-radio slot="end" value="dogs"></ion-radio>
            </ion-item>

            <ion-item style="--per : 20%; ">
              <div class="percentz">20%</div>
              <ion-label>{{option2}}</ion-label>
              <ion-radio slot="end" value="cats"></ion-radio>
            </ion-item>

            <ion-item style="--per : 20%; ">
              <div class="percentz">20%</div>
              <ion-label>{{option3}}</ion-label>
              <ion-radio slot="end" value="turtles"></ion-radio>
            </ion-item>

            <ion-item style="--per : 10%; ">
              <div class="percentz">10%</div>
              <ion-label >{{option4}}</ion-label>
              <ion-radio slot="end" value="fish"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </div>



    </div>



    <div class="btn_holder animate__animated animate__slideInUp">
      <ion-button class="myBtnz" (click)="submit()">SUBMIT</ion-button>
    </div>



  </div>

</ion-content>
