<ion-header>
  <ion-toolbar>
    <ion-title>answer-survey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="page_wrapper">

    <ion-item style="font-size: 14px;">
      <ion-label>Choose Category</ion-label>
      <ion-select interface="action-sheet" placeholder="Select Category" cancelText="Cancel Choice">
        <ion-select-option value="apples">Sports</ion-select-option>
        <ion-select-option value="oranges">Politics</ion-select-option>
        <ion-select-option value="bananas">General Knowledge</ion-select-option>
        <ion-select-option value="bananas">Others</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="my_question">
      <div class="question">
        <ion-label class="clabel">Question?</ion-label>
        <div class="qsn">Who has made 100 Centuries in cricket?</div>
      </div>

      <div class="option_block">


        <ion-list>
          <ion-radio-group [allowEmptySelection]="true" value="turtles">
            <ion-item>
              <ion-label class="lblz">A</ion-label>
              <ion-label >Dogs</ion-label>
              <ion-radio slot="end" value="dogs"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label class="lblz">B</ion-label>
              <ion-label>Cats</ion-label>
              <ion-radio slot="end" value="cats"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label class="lblz">C</ion-label>
              <ion-label>Turtles</ion-label>
              <ion-radio slot="end" value="turtles"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label class="lblz">D</ion-label>
              <ion-label>Fish</ion-label>
              <ion-radio slot="end" value="fish"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>

      </div>



    </div>



    <div class="dual_button">
      <ion-button class="outBtn">Post</ion-button>
      <ion-button class="myBtnz">Post & Add New</ion-button>
    </div>



  </div>

</ion-content>
