<ion-header>
  <ion-toolbar>
    <ion-title>Create Survey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page_wrapper">

    <div class="my_question">
      <div class="question">
        <ion-textarea placeholder="Enter question" [clearOnEdit]="true">
        </ion-textarea>
      </div>

      <div class="option_block">
        <div class="option1"><span>A</span>
          < 30</div>
            <div class="option1"><span>B</span>50 +</div>
            <div class="option1"><span>C</span>100 +</div>
            <div class="option1"><span>D</span>70 +</div>
        </div>

      </div>

    </div>

</ion-content>
