<ion-header>
  <ion-toolbar >
    <ion-buttons class="icon_arrowback" slot="start" (click)="back()">
      <ion-icon style="color: #3880ff;" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="appBar">
       <span>Create Survey</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page_wrapper">

    <!-- <ion-item style="font-size: 14px;">
      <ion-label>Choose Category</ion-label>
      <ion-select interface="action-sheet" placeholder="Select Category" cancelText="Cancel Choice">
        <ion-select-option value="apples">Sports</ion-select-option>
        <ion-select-option value="oranges">Politics</ion-select-option>
        <ion-select-option value="bananas">General Knowledge</ion-select-option>
        <ion-select-option value="bananas">Others</ion-select-option>
      </ion-select>
    </ion-item> -->

    <div class="my_question  animate__animated animate__zoomIn">
      <div class="question">
        <ion-label class="clabel">Your Question?</ion-label>
          <ion-textarea class="custom-textarea " placeholder="Enter question here" [clearOnEdit]="true"  [(ngModel)]="question" [ngModelOptions]="{standalone: true}"></ion-textarea>

      </div>

      <div class="option_block">
        <ion-list>
          <ion-item>
            <ion-label>A</ion-label>
            <ion-input placeholder="Enter Options" [(ngModel)]="option1" [ngModelOptions]="{standalone: true}"></ion-input>
            
          </ion-item>

          <ion-item>
            <ion-label>B</ion-label>
            <ion-input placeholder="Enter Options" [(ngModel)]="option2" [ngModelOptions]="{standalone: true}"></ion-input>
            
          </ion-item>

          <ion-item>
            <ion-label>C</ion-label>
            <ion-input placeholder="Enter Options (Optional)" [(ngModel)]="option3" [ngModelOptions]="{standalone: true}"></ion-input>
            
          </ion-item>

          <ion-item>
            <ion-label>D</ion-label>
            <ion-input placeholder="Enter Options (Optional)" [(ngModel)]="option4" [ngModelOptions]="{standalone: true}"></ion-input>
            
          </ion-item>
        </ion-list>

      </div>



    </div>



    <div class="dual_button">
      <ion-button class="myBtnz" (click)="publishPoll()">Post</ion-button>
    </div>



  </div>

</ion-content>
